/* Add your CSS to this file */
body {
    margin: 0;
    font-size: 16px;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}
header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

li a{
    text-decoration: none;
    color: rgb(10, 10, 10);
    margin-left: 20px;
}

ul{
    list-style: none;
    display: flex   ;
}

li a:hover {
    color: #2905cb;
}

.overview-hero .container{
    display: flex;
    align-items: center;
}

.overview-hero-image{
    margin-top: 50px;
    margin-bottom: 50px;
}


.cards{
    display: flex;
    margin-bottom: 40px;
}

.card {
    padding: 10px;
    margin-right: 20px;
    border: #E2E8F0;
    border-style: solid;
    border-radius: 5px;
    box-shadow:  4px 5px #888888;
}

.card img {
    width: 300px;
    height: 300px;
}

.testing .container {
    display: grid;
    grid-template-columns: 70% auto;
    max-width: fit-content;
    height: 300px;
    place-items: center;
}

.testing-desciption {
    margin-left: 200px;
}

.cta{
    margin-top: 40px;
}
.cta a{
    color: white;
    text-decoration: none;
    background-color: #48BB78;
    border-radius: 5px;
    padding: 17px;
}